@import "../../styles/mixins.scss";
@import "../../styles/utilities.scss";

%svg {
  position: absolute;
  width: var(--icon-size);
  max-width: var(--icon-size);
  height: auto;
  max-height: var(--icon-size);
  transition: opacity var(--transition);
  fill: var(--font-colour);
}

.toggle {
  --icon-size: 18px;
  --icon-padding: 4px;
  --icon-height: calc(var(--icon-size) + 2 * var(--icon-padding));
  --icon-width: calc(var(--icon-size) + 2 * var(--icon-padding));
  --toggle-padding-x: 4px;
  --toggle-padding-y: 4px;
  --toggle-gap: 8px;
  @include reset-button;
  display: flex;
  align-items: center;
  width: calc(
    var(--icon-width) * 2 + var(--toggle-gap) + var(--toggle-padding-x) * 2
  );
  height: calc(var(--icon-height) + var(--toggle-padding-y) * 2);
  padding: var(--toggle-padding-y) var(--toggle-padding-x);
  background: var(--font-colour);
  border-radius: calc((var(--icon-height) + var(--toggle-padding-y) * 2) / 2);
  cursor: pointer;

  &Switch {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--icon-size) + var(--icon-padding) * 2);
    height: calc(var(--icon-size) + var(--icon-padding) * 2);
    background-color: var(--bg-colour);
    border-radius: 50%;
    transition: left var(--transition), right var(--transition);
  }

  &Light {
    .moon {
      opacity: 0;
    }
    .toggleSwitch {
      right: calc(100% - var(--icon-width));
      left: 0;
    }
  }

  &Dark {
    .toggleSwitch {
      right: 0;
      left: calc(100% - var(--icon-width));
    }
    .sun {
      opacity: 0;
    }
  }
}

.moon {
  @extend %svg;
}

.sun {
  @extend %svg;
}
