@import "../../styles/breakpoints.scss";
@import "../../styles/mixins.scss";

.card {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 32px 32px 80px 32px;
  color: var(--card-font);
  background-color: var(--card-bg);
  border: 2px solid var(--card-font);
  transition: background-color var(--transition), color var(--transition),
    border var(--transition);
  --card-bg: var(--bg-colour);
  --card-font: var(--font-colour);

  &:after {
    position: absolute;
    top: -78px;
    right: -78px;
    z-index: 5;
    width: 150px;
    height: 150px;
    background-color: var(--bg-colour);
    border-bottom: inherit;
    transform: rotate(45deg);
    content: "";
  }

  &:hover,
  &:focus {
    --card-bg: var(--font-colour);
    --card-font: var(--bg-colour);
    border: 2px solid var(--card-bg);
    .arrow {
      fill: var(--primary-colour);
    }
    .technologies {
      color: var(--primary-colour);
    }
  }
}

.title {
  margin-right: 75px;
  margin-bottom: 0.25em;
  font-weight: bold;
  font-size: calc(var(--font-scaling) * 1.25rem);
}

.technologies {
  @include rest-ul;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin-right: 75px;
  margin-bottom: calc(var(--font-scaling) * 1.25rem * 1.25);
  font-weight: bold;
  transition: color var(--transition);
}

.link {
  @include reset-link;
  position: relative;
  margin: -2px;
  overflow: hidden;
  text-decoration: none;
}

.watermark {
  position: absolute;
  bottom: 0;
  left: -70px;
  width: 275px;
  height: auto;
  opacity: 0.02;
  fill: currentColor;
}

.arrow {
  width: auto;
  height: 48px;
  transition: stroke var(--transition);
  stroke: var(--card-font);

  &Wrapper {
    position: absolute;
    right: 32px;
    bottom: 0;
    display: inline-block;
    margin-left: auto;
  }
}
