.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
  font-size: calc(var(--font-scaling) * 1.25rem);
}

.lead {
  font-size: calc(var(--font-scaling) * 0.85rem);
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}
