@import "../../styles/breakpoints.scss";
@import "../../styles/mixins.scss";

.section {
  @include section;
  display: flex;
  flex-direction: column;
  gap: 18px;
  @include media-tablet-up {
    flex-direction: row;
  }
}

.title {
  @include section-title;
  margin-top: 0;
}

.content {
  @include media-tablet-up {
    width: 35%;
    padding-right: 64px;
  }
}

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  @include media-tablet-up {
    width: 65%;
  }
}
