@import "../../styles/breakpoints.scss";
@import "../../styles/mixins.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 82px var(--main-padding-x);
  color: var(--bg-colour);
  background-color: var(--font-colour);
}

.logo {
  width: 200px;
  height: auto;
  fill: currentColor;
}

.socialSection {
  margin: 77px auto;
}

.socialTitle {
  margin: 0;
  font-weight: normal;
  font-size: calc(var(--font-scaling) * 1.3rem);
}

.socialList {
  --list-font-colour: var(--bg-colour);
  --list-bg-colour: var(--font-colour);
  --font-colour: var(--list-font-colour);
  --bg-colour: var(--list-bg-colour);
}
