@import "../../styles/breakpoints.scss";
@import "../../styles/mixins.scss";
@import "../../styles/utilities.scss";

.section {
  @include section;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 28px auto;
  padding: 0;
  fill: var(--primary-colour);
  @include media-tablet-up {
    display: flex;
    flex-direction: row;
    margin: 72.5px auto;
    padding: 0;
  }
}

.content {
  @include media-tablet-up {
    width: 50%;
  }
}

.socialList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  @include media-tablet-up {
    margin-top: 145px;
  }
}

.image {
  object-fit: contain;
  &Background {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  &Wrapper {
    position: relative;
    display: block;
    width: 100%;
    max-width: 650px;
    height: 100%;
  }

  &Container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1/1.5;
    @include media-tablet-up {
      aspect-ratio: 1.2/1;
      flex-direction: row;
      align-items: end;
      width: 50%;
    }
  }
}
