@import "../../styles/breakpoints.scss";

.heroBanner {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  margin: 0 auto;
  fill: var(--primary-colour);
  @include media-tablet-up {
    display: flex;
    flex-direction: row;
    padding-bottom: 15%;
  }
  
  &Wrapper {
    position: relative;
    overflow: hidden;
  }

  &Image {
    @include media-tablet-up {
      width: 50%;
    }
  }

  &ImageProfile {
    width: 100%;
    height: auto;
    fill: #000;
  }

  &ImageBG {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
  }

  &Content {
    padding: 18px;
    @include media-tablet-up {
      width: 50%;
    }
  }
}
