@import "../../styles/breakpoints.scss";
@import "../../styles/mixins.scss";
@import "../../styles/utilities.scss";

.section {
  @include section;
}

.title {
  @include section-title;
  margin-top: 0;
}

.intro {
  @include media-tablet-up {
    padding: 0 64px 0 0;
  }
}

.grid {
  display: grid;
  grid-template-rows: auto repeat(5, 1fr);
  grid-template-columns: repeat(1, 1fr);
  gap: 48px 32px;
  @include media-tablet-up {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

.primaryCta {
  margin-top: 12px;
  @include media-tablet-up {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
