@import "../../styles/breakpoints.scss";
@import "../../styles/mixins.scss";

.section {
  @include section;
}

.title {
  @include section-title;
  margin-top: 0;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  @include media-tablet-up {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
