@import "normalize.css";
@import "./variables.scss";
@import "./breakpoints.scss";
@import "./typography.scss";
@import "./utilities.scss";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--font-colour);
  font-family: 'Lato', sans-serif;
  background-color: var(--bg-colour);
}

main {
  padding: var(--main-padding-x);
}