@import "normalize.css";
@import "./variables.scss";
@import "./breakpoints.scss";
@import "./typography.scss";
@import "./utilities.scss";

html {
  box-sizing: border-box;
}

::selection {
  background-color: var(--accent-colour);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: var(--font-colour);
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--bg-colour);
}

main {
  padding: var(--main-padding-y) var(--main-padding-x);
}

// Conditionally render the syntax highlighting based on the selected theme
[data-theme="dark"],
[data-theme="system"] {
  /* stylelint-disable-next-line no-invalid-position-at-import-rule */
  @import "~highlight.js/styles/stackoverflow-dark";
}

[data-theme="light"] {
  /* stylelint-disable-next-line no-invalid-position-at-import-rule */
  @import "~highlight.js/styles/stackoverflow-light";
}

.ligher-bg {
  margin: 0 calc(var(--main-padding-x) * -1);
  background-color: var(--bg-lighter);
}
