@import "./breakpoints.scss";

@mixin reset-button {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  background: transparent;
  border: none;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

@mixin rest-ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

@mixin reset-link {
  &:before,
  &:after {
    content: unset;
  }
  &:hover,
  &:focus {
    &:before,
    &:after {
      content: unset;
    }
  }
}

@mixin reset-input {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}

@mixin section {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 48px 0;
  @include media-tablet-up {
    margin: 0 auto;
    padding: 80px 0;
  }

  @include media-desktop-up {
    margin: 0 auto;
    padding: 220px 0;
  }
}

@mixin section-title {
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 45px;
}

@mixin section-intro {
  max-width: var(--max-content-width);
  margin: 0 auto 50px;
  @include media-tablet-up {
    margin: 0 auto 150px;
  }
}
