@import "./breakpoints.scss";

@mixin reset-button {
  width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  background: transparent;
  border: none;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

@mixin rest-ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

@mixin section {
  max-width: var(--max-width);
  margin: 48px auto;
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  @include media-tablet-up {
    margin: 80px auto;
  }

  @include media-desktop-up {
    margin: 172px auto;
  }
}

@mixin section-title {
  position: relative;
  display: inline-block;
  margin-top: 0;
  &:after {
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--font-colour);
    content: "";
  }
}
