%heading {
  margin: 2.75rem 0 1.05rem;
  font-weight: 700;
  line-height: 1.15;
}

:root {
  --font-scaling: 1;
  @include media-desktop-up {
    --font-scaling: 1.5;
  }
}

html {
  font-size: 100%;
}

body {
  font-weight: 400;
  line-height: 1.65;
}

p {
  margin-bottom: 1.15rem;
}

h1, .h1, %h1 {
  @extend %heading;
  margin-top: 0;
  font-size: calc(var(--font-scaling) * 3.052rem);
}

h2, .h2, %h2 {
  @extend %heading;
  font-size: calc(var(--font-scaling) * 2.441rem);
}

h3, .h3, %h3 {
  @extend %heading;
  font-size: calc(var(--font-scaling) * 1.953rem);
}

h4, .h4, %h4 {
  @extend %heading;
  font-size: calc(var(--font-scaling) * 1.563rem);
}

h5, .h5, %h5 {
  @extend %heading;
  font-size: calc(var(--font-scaling) * 1.25rem);
}

h6, .h6, %h6 {
  @extend %heading;
  font-size: calc(var(--font-scaling) * 1rem);
}

small,
.small {
  font-size: calc(var(--font-scaling) * 0.8rem);
}