@import "./mixins.scss";

.highlight {
  color: var(--primary-colour);
}

.scroll-lock {
  position: fixed;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.primaryCta {
  @include reset-link;
  display: inline-flex;
  gap: 1em;
  align-items: center;
  padding: 4px 16px;
  color: var(--font-colour);
  text-decoration: none;
  border: 2px solid var(--font-colour);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  &Icon {
    width: auto;
    height: 48px;
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: var(--bg-colour);
    background-color: var(--font-colour);
  }
}
