:root {
  // Grid
  --max-width: 1600px;
  --max-content-width: 960px;
  --main-padding-x: 32px;
  --main-padding-y: 16px;
  --transition: 0.3s ease-in-out;

  // Colour definitions
  --black: #000000;
  --white: #ffffff;
  --yellow: #ffb01f;
  --gray: #5f6b7c;
  --white-bg: #f9f9f9;
  --black-opacity: #03030108;
  --ivory: #fffff3;
  --ivory-opacity: #fffff308;
  --shadow-blue: #7d8ca3;
  --iceberg: #79a9d1;
  --amber-sae-ece: #ff7f11;

  --primary-colour: var(--amber-sae-ece);
  --secondary-colour: var(--iceberg);
  --accent-colour: var(--shadow-blue);
  --font-colour: var(--ivory);
  --bg-colour: var(--black);
  --bg-lighter: var(--ivory-opacity);
}

[data-theme="light"] {
  --primary-colour: var(--iceberg);
  --secondary-colour: var(--amber-sae-ece);
  --accent-colour: var(--shadow-blue);
  --font-colour: var(--black);
  --bg-colour: var(--ivory);
  --bg-lighter: var(--black-opacity);
}
