:root {
  // Grid
  --max-width: 1200px;

  // Colour definitions
  --mint-cream: #f7fff7ff;
  --orange-red-crayola: #fe5f55ff;
  --rhythm: #777da7ff;
  --oxford-blue: #02182bff;
  --smoky-black: #131112ff;

  --primary-colour: var(--orange-red-crayola);
  --secondary-colour: var(--rhythm);
  --font-colour: var(--mint-cream);
  --bg-colour: var(--smoky-black);
  --bg-shadow: var(--oxford-blue);
}
