:root {
  // Grid
  --max-width: 1600px;

  // Colour definitions
  --mint-cream: #f7fff7;
  --orange-red-crayola: #fe5f55;
  --rhythm: #777da7;
  --oxford-blue: #02182b;
  --smoky-black: #131112;

  --primary-colour: var(--orange-red-crayola);
  --secondary-colour: var(--rhythm);
  --font-colour: var(--mint-cream);
  --bg-colour: var(--smoky-black);
  --bg-shadow: var(--oxford-blue);
}
