@import "../../styles/mixins.scss";

.section {
  @include section;
  display: flex;
  flex-direction: column;
  @include media-tablet-up {
    flex-direction: row;
    grid-gap: 89px;
  }
}

.content {
  max-width: var(--max-content-width);
}

.image {
  &Container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    @include media-tablet-up {
      flex-direction: row;
      align-items: end;
      width: 50%;
    }
  }

  &Wrapper {
    display: block;
    width: 100%;
    max-width: 650px;
    height: auto;
  }

  &Background {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.title {
  @include section-title;
}
